body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gold;
    background-image: url('C:\Users\l.dachicourt\Desktop\Application repartie\CarambarFront\img\images.jpeg');
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
}